<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>

<footer id="footer1">
<div class="container">
<div class="row">
    <div class="col-sm-3">
        <strong id="footer-header">Enlaces</strong><br>
        <a href="{{ url_for('guitarras.html') }}">Guitarras</a><br>
        <a href="{{ url_for('bajos.html') }}">Bajos</a><br>
        <a href="{{ url_for('editor.html') }}">Taller Custom</a><br>
        <a href="">Galeria</a><br>
        <a href="">Artistas</a><br>
        <a href="admin/login.php">Acceso</a><br>
    </div>
    <div class="col-sm-3">
        <strong id="footer-header">Direccion</strong><br>
        1234 Street name <br>
        Pamplona, CP 31300 <br>
    </div>
    <div class="col-sm-3">
        <strong id="footer-header">Contacto</strong><br>
        Email: xxxxxx@xxx.com <br>
        Telefono: 666 666 666 <br>
        Fax: 666 666 666 <br>
    </div>
    <div class="col-sm-3">
        <strong id="footer-header">Como llegar</strong><br>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe id="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11966.051337605408!2d-1.6410019909056268!3d42.80080512629015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5093b30d546e2d%3A0xd9a9e86617c6be7b!2sUPNA+-+Universidad+P%C3%BAblica+de+Navarra!5e0!3m2!1ses!2ses!4v1517079009713" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

</div>
</footer>
</body>
</html>