/*style.css*/
/*body{
    background: white;
    margin:0px;
    padding:0px;
    height:100%;
}*/
html{ height:100%; }
body{ min-height:76%; padding:0; margin:0; position:relative; }

footer{
    position: absolute;
    bottom: -190px;
    text-align: left;
}

#mynav{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1%;
}
#quienes-somos{
    background-color: #1d2124;
    color: white;
}
#cartas-inicio{
    background: #222;
}
#cover{
    background: #888;
    color: white;
    text-align: center;
}
#cover-admin{
    background: #8bc3ff;
    color: white;
    text-align: center;
}
#adminav{
    position: initial;
}
img{
    max-width: 100%;
}
#bloque-carta{
    background: #444;
}
#bloque-carta:hover{
    -moz-box-shadow: 0px 0px 10px #222; 
    -webkit-box-shadow: 0px 0px 10px #222; 
    box-shadow: 0px 0px 10px #222;
}
#mycarousel-wrap {
    width: 90vw;
}
#footer1 {
    padding: 10px;
    background: #222;
    color: rgba(255,255,255,0.75);
    width:100%;
    
}
#footer-admin{
    padding: 10px;
    background: #003874;
    color: rgba(255,255,255,0.75);
    width:100%;
}
#footer-admin a{
    color: rgba(255,255,255,0.75);
}
#footer-admin a:hover{
    color: rgba(255,255,255,0.5);
    text-decoration: none;
}
#footer1 a{
    color: rgba(255,255,255,0.75);
}
#footer1 a:hover{
    color: rgba(255,255,255,0.5);
    text-decoration: none;
}
#footer-header{
    color: #17a2b8;
    font-size: 18px;
}

#product-wrap {
    background: #3b3a3a;
    padding: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
#product-descripcion{
    font-family: "Lato", sans-serif;
    font-size: 100%;
    color: #d1d2d8;
    white-space: pre-wrap;
    word-wrap: break-word;
}
#artist-descripcion{
    font-family: "Lato", sans-serif;
    font-size: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: rgba(12, 84, 96, 0.77);
}
#artist-wrap {
    background: #e4e4e4;
    padding: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    color: #0c5460;
}
#prueba{
    position: relative;
}
.foto-pal{
    margin-bottom: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
.foto-min{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}
.card-title{
    font-family: "Lato", sans-serif;
    font-size: 26px;
    color: #49a9b9;
    padding-top: 45px;
    padding-bottom: 45px;
}
.card-title2{
    font-family: "Lato", sans-serif;
    font-size: 26px;
    color: #49a9b9;
}
.enlaces{
    color: rgba(255,255,255,0.4);
    font-size: 18px;
}
.enlaces:hover{
    color: rgba(255,255,255,0.6);
    text-decoration: none;
}
.enlaces-oscuros{
    color: rgba(10, 71, 81, 0.5);
    font-size: 18px;
}
.enlaces-oscuros:hover{
    color: rgba(10,71,81,0.8);
    text-decoration: none;
}

#contacto-form {
    background: rgba(57, 57, 57, 0.69);
    margin: 10px;
    padding: 30px;
}

#cover-contacto {
    background: url('../img/mapa-prueba.jpg') repeat;
    color: white;
}

#sobre {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 48px;
}

#product-nombre {
    color: #17a2b8;
    font-size: 300%;
}

.myimage{
    margin: 5px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
.myimage:hover{
    -moz-box-shadow: 0px 0px 10px #222;
    -webkit-box-shadow: 0px 0px 10px #222;
    box-shadow: 0px 0px 10px #222;
}
.polaroid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    text-align: center;
    margin: 10px auto;
}
.polaroid-text{
    padding: 20px;
    background: #e4e4e4;
    color: #0a4751;
}
.mylogin{
    width: 40vw;
    margin: 20px auto;
    padding: 10px;
    color: #0a4751;
}
.mymodal{
    color: #0c5460;
    text-align: left;
}
.mymodal-label{
    color: #222222;
    font-size: 120%;
}
.mybutton {
    white-space: normal;
}

.enlaces-fotos{
    color: rgb(235, 235, 235);
    font-size: 200%;
    position: relative;
    left: -40px;
    top: -75px;
    z-index: 10;
    text-shadow: 2px 2px 2px #1b1e21;
}
.enlaces-fotos:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 5px 5px 5px #000000;
}
.enlaces-fotos-info{
    color: rgb(235, 235, 235);
    font-size: 200%;
    position: relative;
    left: -20px;
    top: -80px;
    z-index: 10;
    text-shadow: 2px 2px 2px #1b1e21;
}
.enlaces-fotos-info:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 5px 5px 5px #000000;
}
.boton-nav-right{
    margin-left: 5px;
}
#mymessage{
    width: 40vw;
    position: absolute;
    right: 30%;
    top: 10%;
    z-index: 1500;
}
.mytable{
    color: #1b1e21;
    font-size: 80%;
}
.myicon{
    color: #575757;
}
.myicon:hover{
    color: #363636;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;

}
.mypaybutton{
    position: absolute;
    bottom: 0;
    left: 30%;
}
@media screen and (max-width: 600px){
    .mylogin{
        width: 64vw;
    }
    .boton-nav-right{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    #mymessage{
        top: 20%;
    }
    footer{
        position: static;
        text-align: center;
    }
    .mypaybutton{
        left: 15%;
    }
}
.popover-header{
    color: #0c5460;
}
