{% extends "core/base.html" %}
{% block cover %}
<section id="artistas">
    <div class="section-content">
       <div class="container">
           <br>
           <h2>Artistas</h2>
           <p>Aqui unas fotos aparentes y resultonas de artistas que usan vuestras guitarras</p>
           <hr>
           <div class="row">

               {% for artista in myartistas %}
                   {% if (loop.index % 3==1) %}
                       </div>
                       <div class="row">
                   {% endif %}

               <div class="col-sm-4">
                   <div class="polaroid">
                       <a href="{{ url_for('infoartista.html', name=artista.nombre) }}">
                           <img class="card-img-top" src="{{ artista.foto1 }}-/resize/300x300/" alt="">
                       </a>
                       <div class="polaroid-text">
                          <a class="card-link" href="{{ url_for('infoartista.html', name=artista.nombre) }}">
                              <h5 class="polaroid-text card-title">{{ artista.nombre }}</h5>
                          </a>
                       </div>
                   </div>
               </div>
            {% endfor %}
           </div>
           <br>
        </div>
    </div>
{% if current_user.is_authenticated %}
<script src="{{ url_for('static',filename='js/artistas-admin.js')}}"></script>
{% endif %}
</section>
{% endblock %}