{% extends "core/base.html" %}
{% block cover %}
<script charset="utf-8" src="//ucarecdn.com/libs/widget/3.2.3/uploadcare.full.min.js"></script>
<section id="galeria">
    <div class="section-content">
       <div class="container">
           <br>
           <h2>Galeria</h2>
           <p>Aqui unas fotos aparentes y resultonas de lo que haceis</p>
           {% if current_user.is_authenticated %}
               <script>
                  UPLOADCARE_LOCALE = "es";
                  UPLOADCARE_TABS = "file facebook dropbox instagram";
                  UPLOADCARE_PUBLIC_KEY = "838f65d3e576732d177a";
                </script>
            <div class="modal fade mymodal" id="anadirfoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir nueva foto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form class="form" id="nuevafoto" action="{{ url_for('galeria.nuevo') }}" method="post">
                           <div class="form-group">
                               <input type="hidden" role="uploadcare-uploader" name="myfoto"
                                      data-crop="disabled"
                                      data-preview-step="true"
                                      data-images-only="true" required/>
                           </div>
                               <div class="form-group">
                               <input type="text" class="form-control" name="alt" placeholder="Titulo de la foto" required>
                               </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-md btn-primary" type="submit" form="nuevafoto">Añadir Foto</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
               <button class="btn btn-dark" data-toggle="modal" data-target="#anadirfoto">Añadir</button>
           {% endif %}
           <hr>
            <div class="imageGallery1">
                {% for foto in mygaleria %}
                    <a class="mifoto" href="{{ foto.url }}" title="{{ foto.alt }}"><img class="img-thumbnail myimage" src="{{ foto.url }}/-/resize/200x200/" alt="{{ foto.alt }}"/></a>
                {% endfor %}
            </div>
           <br>
        </div>
        <script src="{{ url_for('static', filename='js/simpleLightbox.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simpleLightbox.min.css') }}"/>

        <script>
            $('.imageGallery1 a').simpleLightbox();
        </script>

    </div>
{% if current_user.is_authenticated %}
<script src="{{ url_for('static',filename='js/galeria-admin.js')}}"></script>
{% endif %}
</section>
{% endblock %}