{% extends "core/base.html" %}
{% block cover %}
{% if current_user.is_authenticated %}
<script>
  UPLOADCARE_LOCALE = "es";
  UPLOADCARE_TABS = "file facebook dropbox instagram";
  UPLOADCARE_PUBLIC_KEY = "838f65d3e576732d177a";
</script>
<script charset="utf-8" src="//ucarecdn.com/libs/widget/3.2.3/uploadcare.full.min.js"></script>
<script src="{{ url_for('static',filename='js/addFotoWidget.js') }}"></script>
<!-- Modal -->
        <div class="modal fade mymodal" id="mimodal" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title">Introduzca nuevos datos del Producto</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form class="form" method="post" action="{{ url_for('infoproducto.editar',tipo=request.path.split('/')[2], nombre=miproducto.nombre) }}">
                        <div class="form-group">
                            <label for="nombre" class="mymodal-label">Nombre</label>
                            <input type="text" name="nombre" class="form-control" value="{{ miproducto.nombre }}" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="descrip" class="mymodal-label">Descripcion</label>
                            <textarea name="descrip" class="form-control" required>{{ miproducto.descripcion }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="acabado" class="sr-only">Acabado</label>
                            <input name="acabado" class="form-control" placeholder="Acabado" value="{{ miproducto.acabado }}">
                        </div>
                        <div class="form-group">
                            <label for="pastillas" class="sr-only">Pastillas</label>
                            <input name="pastillas" class="form-control" placeholder="Pastillas" value="{{ miproducto.pastillas }}">
                        </div>
                        <div class="form-group">
                            <label for="puente" class="sr-only">Puente</label>
                            <input name="puente" class="form-control" placeholder="Puente" value="{{ miproducto.puente }}">
                        </div>
                        <div class="form-group">
                            <label for="electronica" class="sr-only">Electronica</label>
                            <input name="electronica" class="form-control" placeholder="Electronica" value="{{ miproducto.electronica }}">
                        </div>
                        <div class="form-group">
                            <label for="clavijero" class="sr-only">Clavijero</label>
                            <input name="clavijero" class="form-control" placeholder="Clavijero" value="{{ miproducto.clavijero }}">
                        </div>
                        <div class="form-group">
                            <label for="boton" class="mymodal-label">Boton</label>
                            <textarea name="boton" class="form-control" required>{{ miproducto.boton }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="precio" class="sr-only">Precio</label>
                            <input name="precio" class="form-control" value="{{ miproducto.precio }}" required>
                        </div>
                        <div class="form-group">
                            <label for="myfoto" class="">Foto Principal: </label>
                            <input type="hidden" role="uploadcare-uploader" name="myfoto"
                                                  data-crop="disabled"
                                                  data-preview-step="true"
                                                  data-images-only="true" />
                        </div>
                        <div class="form-group">
                            {% for fotos in miproducto.fotos %}
                                <img class="mifoto" src="{{ fotos.url }}-/resize/200x200/" alt="">
                            {% endfor %}

                        </div>
                      <hr>
                      <h5>Añadir Fotos</h5>
                      <hr>
                      <a id="anadirfoto" onclick="addFotoWidget()" class="enlaces-oscuros" style="font-size: 250%; position: relative; left: 48%;">+</a>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Actualizar</button>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
{% endif %}
<section id="productos">
    <br>
    <div class="container">
       <div class="row">
           <div class="col-md-6">
                <!-- Carousel, adaptar tamaño imagenes -->
                <div class="container" id="myproduct-foto">
                   <div class="foto-pal" id="foto-pal">
                       <div><a href="{{ miproducto.fotopal }}"><img src="{{ miproducto.fotopal }}-/resize/800x600/" alt=""></a></div>
                        {% for foto in miproducto.fotos %}
                       <div><a href="{{ foto.url }}"><img src="{{ foto.url }}-/resize/800x600/" alt="{{ foto.nombre }}"></a></div>
                        {% endfor %}

                   </div>
                   <div class="foto-min">
                       <div><img src="{{ miproducto.fotopal }}-/resize/300x200/" alt=""></div>
                       {% for foto in miproducto.fotos %}
                       <div><img src="{{ foto.url }}-/resize/300x200/" alt="{{ foto.nombre }}"></div>
                        {% endfor %}
                   </div>
                </div>
           </div>
           <script src="{{ url_for('static', filename='js/simpleLightbox.min.js') }}"></script>
           <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simpleLightbox.min.css') }}"/>
           <script>
               $('#foto-pal a').simpleLightbox();
           </script>
           <div class="col-md-6" id="product-wrap">
               <h2 id="product-nombre">{{ miproducto.nombre }}</h2>
               <hr>
               <pre id="product-descripcion">{{ miproducto.descripcion }}</pre>
               <br>
               <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="2WMHNGFWL7ANJ">
                    <input type="image" src="https://ucarecdn.com/a9cf10ff-86e9-4c97-a432-956be90d2e37/-/resize/160x/" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/es_ES/i/scr/pixel.gif" width="1" height="1">
               </form>


           </div>
       </div>
    </div>
    <br>
    <!-- Carousel, slick js, necesita jquery definido antes. -->
    <script src="{{ url_for('static',filename='slick/slick.min.js')}}"></script>
    <script>
        $('.foto-pal').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.foto-min',
            adaptiveHeight: true
        });
        $('.foto-min').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.foto-pal',
            arrows: false,
            dots: false,
            focusOnSelect: true
        });
    </script>
{% if current_user.is_authenticated %}
<script src="{{ url_for('static',filename='js/infoproducto-admin.js')}}"></script>
{% endif %}
</section>

{% endblock %}