{% extends "core/base.html" %}
{% block cover %}
{% if current_user.is_authenticated %}
<script>
  UPLOADCARE_LOCALE = "es";
  UPLOADCARE_TABS = "file facebook dropbox instagram";
  UPLOADCARE_PUBLIC_KEY = "838f65d3e576732d177a";
</script>
<script charset="utf-8" src="//ucarecdn.com/libs/widget/3.2.3/uploadcare.full.min.js"></script>
<script src="{{ url_for('static',filename='js/addFotoWidget.js') }}"></script>
<!-- Modal -->
        <div class="modal fade mymodal" id="mimodal" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title">Introduzca nuevos datos del Artista</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form class="form" method="post" action="{{ url_for('infoartista.editar', nombre=myartista.nombre) }}">
                        <div class="form-group">
                            <label for="nombre" class="mymodal-label">Nombre</label>
                            <input type="text" name="nombre" class="form-control" value="{{ myartista.nombre }}" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="descrip" class="mymodal-label">Descripcion</label>
                            <textarea name="descrip" class="form-control" required>{{ myartista.descripcion }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="myfoto" class="">Foto Principal: </label>
                            <input type="hidden" role="uploadcare-uploader" name="myfoto"
                                                  data-crop="disabled"
                                                  data-preview-step="true"
                                                  data-images-only="true" required/>
                        </div>
                        <div class="form-group">
                            {% for fotos in myartista.fotos %}
                                <img class="mifoto" src="{{ fotos.url }}-/resize/200x200/" alt="">
                            {% endfor %}

                        </div>
                      <hr>
                      <h5>Añadir Fotos</h5>
                      <hr>
                      <a id="anadirfoto" onclick="addFotoWidget()" class="enlaces-oscuros" style="font-size: 250%; position: relative; left: 48%;">+</a>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Actualizar</button>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
{% endif %}
<section id="artista">
    <br>
    <div class="container">
       <div class="row">
           <div class="col-md-6" id="prueba">
                <!-- Carousel, adaptar tamaño imagenes -->
                <div class="container" id="myproduct-foto">
                   <div class="foto-pal" id="foto-pal">
                       <div><a href="{{ myartista.fotopal }}"><img src="{{ myartista.fotopal }}-/resize/800x600/" alt=""></a></div>
                       {% for foto in myartista.fotos %}
                       <div><a href="{{ foto.url }}"><img src="{{ foto.url }}-/resize/800x600/" alt="{{ foto.nombre }}"></a></div>
                        {% endfor %}
                   </div>
                   <div class="foto-min">
                       <div><img src="{{ myartista.fotopal }}-/resize/300x200/" alt=""></div>
                       {% for foto in myartista.fotos %}
                       <div><img src="{{ foto.url }}-/resize/300x200/" alt="{{ foto.nombre }}"></div>
                        {% endfor %}
                   </div>
                </div>
           </div>
           <script src="{{ url_for('static', filename='js/simpleLightbox.min.js') }}"></script>
           <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simpleLightbox.min.css') }}"/>
           <script>
               $('#foto-pal a').simpleLightbox();
           </script>
           <div class="col-md-6" id="artist-wrap">
               <h2 id="artist-nombre">{{ myartista.nombre }}</h2>
               <hr>
               <pre id="artist-descripcion">{{ myartista.descripcion }}</pre>
           </div>
       </div>
    </div>
    <br>
    <!-- Carousel, slick js, necesita jquery definido antes. -->
    <script src="{{ url_for('static',filename='slick/slick.min.js')}}"></script>
    <script>
        $('.foto-pal').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.foto-min',
            adaptiveHeight: true
        });
        $('.foto-min').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.foto-pal',
            arrows: false,
            dots: false,
            focusOnSelect: true
        });
    </script>
{% if current_user.is_authenticated %}
<script src="{{ url_for('static',filename='js/infoartista-admin.js')}}"></script>
{% endif %}
</section>

{% endblock %}