{% include "core/header.html" %}
    <!--<link rel="manifest" href="{{ url_for('static',filename='js/manifest.json')}}">
     jQuery first, then Popper.js, then Bootstrap JS
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/loadingCircle.css') }}">

    <section id="editor">
        <!-- Html para el menu de la izquierda-->
        <div class="sidenav">
            <a class="editor-a" data-toggle="modal" data-target="#modelo" >Modelo</a>
            <a class="editor-a" data-toggle="modal" data-target="#maderas">Maderas</a>
            <a class="editor-a" data-toggle="modal" data-target="#acabado">Acabado</a>
            <a class="editor-a" data-toggle="modal" data-target="#pastillas">Pastillas</a>
            <a class="editor-a" data-toggle="modal" data-target="#componentes">Componentes</a>
            <div class="text-light"><span id="precio">1500</span>€</div>
            <a onclick="cargarForm()" class="btn btn-info" data-toggle="modal" data-target="#modalPresupuesto">Pedir Presupuesto</a>
        </div>
        <img id="turn" src="static/img/rotate-device.png" alt="">
        <button onclick="vistaEnfrente()" id="vistaEnfrente" class="btn">Vista Delantera</button>
        <button onclick="vistaTrasera()" id="vistaTrasera" class="btn">Vista Trasera</button>
        <button id="rotar" onclick="rotar(miguitarra)" class="btn">Rotar</button>

        <div class="modal fade" id="modelo" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="" class="modal-title">Escoge Modelo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="" class="modal-body">
                        <!-- Nueva variable para mostrar los cuerpos-->
                        <!-- Hacen falta los dos indices de lista. Así generamos los modalCuerpo0, etc... de todas las piezas -->
                        <!-- Si no estan los dos indices, no se recorre bien por todas las partes y no funcionan los callback-->
                        {% for modelo in cuerpos %}
                            <a onclick="cambiarModelo(event,'{{ modelo.modelo }}')">
                                <img class="myimage" src='static/img/{{ modelo.foto }}' data-toggle=''
                                                         data-dismiss='modal' width='200' height="115"></a>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="maderas" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="" class="modal-title">Escoge Maderas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="maderasBody" class="modal-body">
                        <label for="dropCuerpo">Escoge madera para el Cuerpo:</label>
                        <select id="dropCuerpo" onchange="cambioMaderaCuerpo(this.value)" onfocus="valViejo(this.value)"">

                        </select>
                        <br>
                        <label for="dropDiapason">Escoge madera para el diapason:</label>
                        <select id="dropDiapason" onchange="cambioMaderaDiapasonMastil(3,this.value)" onfocus="valViejo(this.value)">

                        </select>
                        <br>
                        <label for="dropMastil">Escoge madera para el mastil:</label>
                        <select id="dropMastil" onchange="cambioMaderaDiapasonMastil(2,this.value)" onfocus="valViejo(this.value)">

                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="acabado" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="" class="modal-title">Escoge Acabado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="" class="modal-body row">
                        <div class="col-sm-6">
                            <a onclick="hacerGloss(miguitarra[0].material)" data-dismiss="modal">
                                <img class="myimage" src='static/img/brillo.png'width='200' height="115">
                                <span style="">Brillo</span>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a onclick="hacerMate(miguitarra[0].material)" data-dismiss="modal">
                                <img class="myimage" src='static/img/mate.png' width='200' height="115">
                                <span style="">Mate</span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="pastillas" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="" class="modal-title">Escoge Pastillas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="" class="modal-body">
                        <h6 id="labelPastillaMastil">Pastilla Mastil</h6>
                            <div id="pastillasMastil">
                                {% for modelo in  pastillasMastil%}
                                    <!-- Esto cambia bien de modelo, falta corregir cambiar la textura de ese nuevo modelo-->
                                    <a onclick="cambiarParte(event,partes3D,4,{{ modelo.id }},{'x':{{ modelo.x }},'y':{{ modelo.y }},'z':{{ modelo.z }}},'#modalPastillaMastil0',miguitarra)">
                                        <img class="myimage" src='static/img/{{ modelo.foto }}' data-toggle=''
                                             width='200' height="115"></a>
                                {% endfor %}
                            </div>
                        <br>
                        <label for="dropPastillaMastil">Escoge marca de pastilla:</label>
                        <select id="dropPastillaMastil" onchange="cambioPastilla(this.value,4)" onfocus="valViejo(this.value)">

                        </select>
                        <h6>Pastilla Medio</h6>
                            <div id="pastillasMedio">
                                {% for modelo in pastillasMedio %}
                                    <a onclick="cambiarParte(event,partes3D,5,{{ modelo.id }},{'x':{{ modelo.x }},'y':{{ modelo.y }},'z':{{ modelo.z }}},'#modalPastillaMastil0',miguitarra)">
                                        <img class="myimage" src='static/img/{{ modelo.foto }}' data-toggle=''
                                                                 data-dismiss='modal' width='200' height="115"></a>
                                {% endfor %}
                            </div>
                        <br>
                        <label for="dropPastillaMedio">Escoge marca de pastilla:</label>
                        <select id="dropPastillaMedio" onchange="cambioPastilla(this.value,5)" onfocus="valViejo(this.value)">
                        </select>
                        <h6>Pastilla Puente</h6>
                            <div id="pastillasPuente">
                                {% for modelo in  pastillasPuente%}
                                    <a onclick="cambiarParte(event,partes3D,6,{{ modelo.id }},{'x':{{ modelo.x }},'y':{{ modelo.y }},'z':{{ modelo.z }}},'#modalPastillaMastil0',miguitarra)">
                                        <img class="myimage" src='static/img/{{ modelo.foto }}' data-toggle=''
                                                                 data-dismiss='modal' width='200' height="115"></a>
                                {% endfor %}
                            </div>
                        <br>
                        <label for="dropPastillaPuente">Escoge marca de pastilla:</label>
                        <select id="dropPastillaPuente" onchange="cambioPastilla(this.value,6)" onfocus="valViejo(this.value)">
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="componentes" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="" class="modal-title">Escoge Componentes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="componentesBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        {% for pieza in lista %}
            {% for item in pieza %}
                {% set outer_loop = loop %}
                <!-- Modal -->
                <div class="modal fade" id="{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <!--<div class="modal-header">
                                <h5 id="{{ item.id }}Titulo" class="modal-title">{{ item.titulo }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="{{ item.id }}Body1" class="modal-body">
                                {% for modelo in item.opcionesModelo %}
                                    <script>modelo.push('{{ modelo.modelo }}')</script>
                                    <a onclick="cambiarCuerpo(event, miguitarra,{{ outer_loop.index-1 }},'static/modelos/{{ modelo.modelo }}',{{ item.id }})"><img src='static/img/{{ modelo.foto }}' data-toggle='{{ item.id }}' data-dismiss='modal' width='200'></a>
                                {% endfor %}
                            </div>-->

                            <div class="modal-header">
                                <h5 id="{{ item.id }}Header2" class="modal-title">Escoge acabado</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="{{ item.id }}Body2" class="modal-body">
                           </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    <!-- Modal para formulario de nuevo presupuesto-->
    <div class="modal fade mymodal" id="modalPresupuesto" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title">Introduzca nuevos datos del Producto</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form class="form" method="post" action="{{ url_for('presupuestos.nuevo') }}">
                        <div class="form-group">
                            <label for="nombre" class="mymodal-label">Nombre</label>
                            <input type="text" name="nombre" class="form-control" value="" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="telefono" class="mymodal-label">Telefono</label>
                            <input type="text" name="telefono" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="mymodal-label">Email</label>
                            <input name="email" class="form-control" placeholder="aaaaaaaa@bbbbbbb.com" value="">
                        </div>
                      <div class="form-group">
                            <label for="comentarios" class="mymodal-label">Comentarios</label>
                            <textarea name="comentarios" class="form-control" placeholder="Acabados no disponibles en el editor, color del mastil, dibujo tal en el cuerpo, etc...."></textarea>
                        </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Pedir Presupuesto</button>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
    <canvas id="mycanvas"></canvas>

    <script src="{{ url_for('static',filename='js/THREEx.WindowResize.js')}}"></script>
    <script src="{{ url_for('static',filename='js/three.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/OrbitControls.js')}}"></script>
    <script src="{{ url_for('static',filename='js/STLLoader.js')}}"></script>
	<script src="{{ url_for('static',filename='js/editor.js') }}"></script>
    </section>