{% extends  'core/base.html' %}
{% block cover %}
    <br>
<h1>Acceso de Administrador</h1><br>
    {% if error %}
        <div id="mymessage">
            <p class="alert alert-danger container" style="width: 40vw"><strong>Error:</strong> {{ error }}
        </div>
    {% endif %}
    <div class="container mylogin card">
        <form class="form" method="post" action="/login">
            <h2>Por favor, introduzca sus credenciales</h2>
            <div class="form-group">
                <label for="inputUser" class="sr-only">Usuario</label>
                <input type="user" id="inputUser" name="username" class="form-control" placeholder="Usuario" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contraseña" required>
            </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
    <br>
{% endblock %}