{% extends'core/base.html' %}
{% block cover %}
<div class="mylogin card">
    <form id="texturaForm" class="form" action = "{{ url_for('editor.nuevoModelo') }}" method = "POST" enctype = "multipart/form-data">
        <h2>Introduzca datos sobre el nuevo modelo JSON</h2>
        <div class="form-group">
            <label for="modelo" class="mymodal-label">Nombre del modelo</label>
            <input type="text" name="modelo" class="form-control" placeholder="en minusculas" value="" required autofocus>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Guardar Modelo</button>
    </form>
</div><br>
{% endblock %}