{% extends 'core/base.html' %}
{% block cover %}
<script>
  UPLOADCARE_LOCALE = "es";
  UPLOADCARE_TABS = "file facebook dropbox instagram";
  UPLOADCARE_PUBLIC_KEY = "838f65d3e576732d177a";
</script>
<script charset="utf-8" src="//ucarecdn.com/libs/widget/3.2.3/uploadcare.full.min.js"></script>
<script src="{{ url_for('static',filename='js/addFotoWidget.js') }}"></script>

<h1>Nuevo Bajo</h1><br>
    <div class="container mylogin card">
        <form class="form" method="post" action="{{ url_for('bajos.nuevo') }}">
            <h2>Introduzca datos del bajo</h2>
            <div class="form-group">
                <label for="nombre" class="sr-only">Nombre</label>
                <input type="text" name="nombre" class="form-control" placeholder="Nombre del bajo" required autofocus>
            </div>
            <div class="form-group">
                <label for="descripcion" class="sr-only">Descripcion</label>
                <input type="text" name="descripcion" class="form-control" placeholder="Descripcion" required>
            </div>
            <div class="form-group">
                <label for="myfoto" class="">Foto Principal: </label>
                <input type="hidden" role="uploadcare-uploader" name="myfoto"
                                      data-crop="disabled"
                                      data-preview-step="true"
                                      data-images-only="true" required/>
            </div>
            <a id="anadirfoto" onclick="addFotoWidget()" class="enlaces-oscuros" style="font-size: 250%">+</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Aceptar</button>
      </form>
    </div>
    <br>

{% endblock %}