{% extends 'core/base.html' %}
{% block cover %}
<script>
  UPLOADCARE_LOCALE = "es";
  UPLOADCARE_TABS = "file facebook dropbox instagram";
  UPLOADCARE_PUBLIC_KEY = "838f65d3e576732d177a";
</script>
<script charset="utf-8" src="//ucarecdn.com/libs/widget/3.2.3/uploadcare.full.min.js"></script>
<script src="{{ url_for('static',filename='js/addFotoWidget.js') }}"></script>

<h1>Nueva Guitarra</h1><br>
    <div class="container mylogin card">
        <form class="form" method="post" action="{{ url_for('guitarras.nuevo') }}">
            <h2>Introduzca datos de la guitarra</h2>
            <div class="form-group">
                <label for="nombre" class="sr-only">Nombre</label>
                <input type="text" name="nombre" class="form-control" placeholder="Nombre de la guitarra" required autofocus>
            </div>
            <div class="form-group">
                <label for="descrip" class="sr-only">Descripcion</label>
                <textarea name="descrip" class="form-control" placeholder="Descripcion con parrafos" required></textarea>
            </div>
            <div class="form-group">
                <label for="acabado" class="sr-only">Acabado</label>
                <input name="acabado" class="form-control" placeholder="Acabado" required>
            </div>
            <div class="form-group">
                <label for="pastillas" class="sr-only">Pastillas</label>
                <input name="pastillas" class="form-control" placeholder="Pastillas" required>
            </div>
            <div class="form-group">
                <label for="puente" class="sr-only">Puente</label>
                <input name="puente" class="form-control" placeholder="Puente" required>
            </div>
            <div class="form-group">
                <label for="electronica" class="sr-only">Electronica</label>
                <input name="electronica" class="form-control" placeholder="Electronica" required>
            </div>
            <div class="form-group">
                <label for="clavijero" class="sr-only">Clavijero</label>
                <input name="clavijero" class="form-control" placeholder="Clavijero" required>
            </div>
            <div class="form-group">
                <label for="boton" class="mymodal-label">Boton</label>
                <textarea name="boton" class="form-control" placeholder="Introducir codigo HTML del boton generado con paypal" required></textarea>
            </div>
            <div class="form-group">
                <label for="precio" class="sr-only">Precio</label>
                <input name="precio" class="form-control" placeholder="Precio" required>
            </div>
            <div class="form-group">
                <label for="myfoto" class="">Foto Principal: </label>
                <input type="hidden" role="uploadcare-uploader" name="myfoto"
                                      data-crop="disabled"
                                      data-preview-step="true"
                                      data-images-only="true" required/>
            </div>
            <a id="anadirfoto" onclick="addFotoWidget()" class="enlaces-oscuros" style="font-size: 250%">+</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Aceptar</button>
      </form>
    </div>
    <br>

{% endblock %}