{% extends 'core/base.html' %}
{% block cover %}
<script>
  UPLOADCARE_LOCALE = "es";
  UPLOADCARE_TABS = "file facebook dropbox instagram";
  UPLOADCARE_PUBLIC_KEY = "838f65d3e576732d177a";
</script>
<script charset="utf-8" src="//ucarecdn.com/libs/widget/3.2.3/uploadcare.full.min.js"></script>
<script src="{{ url_for('static',filename='js/addFotoWidget.js') }}"></script>

<h1>Nuevo Artista</h1><br>
    <div class="container mylogin card">
        <form class="form" method="post" action="{{ url_for('artistas.nuevo') }}">
            <h2>Introduzca datos del Artista</h2>
            <div class="form-group">
                <label for="nombre" class="sr-only">Nombre</label>
                <input type="text" name="nombre" class="form-control" placeholder="Nombre del Artista" required autofocus>
            </div>
            <div class="form-group">
                <label for="descrip" class="sr-only">Descripcion</label>
                <textarea name="descrip" class="form-control" placeholder="Descripcion con parrafos" required></textarea>
            </div>
            <div class="form-group">
                <label for="myfotoalt" class="">Titulo foto principal</label>
                <input type="text" name="myfotoalt" class="form-control" placeholder="Titulo" required>
                <br>
                <input type="hidden" role="uploadcare-uploader" name="myfoto"
                                      data-crop="350x350 minimum"
                                      data-images-only="true" required/>
            </div>
            <a id="anadirfoto" onclick="addFotoWidget()" class="enlaces-oscuros" style="font-size: 250%">+</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
    <br>

{% endblock %}