{% extends "core/base.html" %}
{% block cover %}
    <div class="section-content">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="{{ url_for('static',filename='js/clickable-tr-jquery.js') }}"></script>
       <div class="">
           <br>
           <h2>Presupuestos</h2>
           <p>Aqui los presupuestos que nos han pedido</p>
           <hr>
           <br>
           <br>
            <div class="mytable table-responsive">
                <table class="table table-sm table-hover clickable-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre </th>
                            <th>Telefono </th>
                            <th>Email  </th>
                            <th>Fecha </th>
                            <th>Modelo </th>
                            <th>Madera Cuerpo </th>
                            <th>Madera Diapason </th>
                            <th>Madera Mastil </th>
                            <th>Comentarios</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for presupuesto in mypresupuestos %}
                        <tr data-href="{{ url_for('presupuestos.info',id=presupuesto.id) }}">
                            <td>{{ presupuesto.id }}</td>
                            <td>{{ presupuesto.nombre }}</td>
                            <td>{{ presupuesto.telefono }}</td>
                            <td>{{ presupuesto.email  }}</td>
                            <td>{{ presupuesto.fecha }}</td>
                            <td>{{ presupuesto.modelo }}</td>
                            <td>{{ presupuesto.maderaCuerpo }}</td>
                            <td>{{ presupuesto.maderaDiapason }}</td>
                            <td>{{ presupuesto.maderaMastil }}</td>
                            <td>{{ presupuesto.comentarios}}</td>

                            <td>
                                <a data-toggle="confirmation" href="{{ url_for('presupuestos.borrar',id=presupuesto.id) }}">
                                    <i class="material-icons myicon">clear</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
           <br>
        </div>
        </div>
    <script>
        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]',
            popout: true,
            singleton: true,
            title: '¿Estas seguro?',
            btnOkLabel: 'Si',
        });
        $(document).ready(function() {
          $('.clickable-table').clickableTable();
        });
    </script>
{% endblock %}