{% extends "core/base.html" %}
{% block cover %}
    <br>
       <!-- Cartas-->
            <div class="container">
                   <div class="row justify-content-md-center">
                       <div class="col-sm-4">
                           <div id='bloque-carta' class="polaroid">
                               <a class="card-link" href="{{ url_for('guitarras.html') }}">
                                   <h4 class="card-title">Guitarras</h4>
                               </a>

                               <a href="{{ url_for('guitarras.html') }}">
                                   <img class="card-img-bottom" src="https://ucarecdn.com/cd8ff294-da20-4bde-8d37-4162983df84f/-/resize/400x400/" alt="teleca">
                               </a>

                           </div>
                       </div>
                       <div class="col-sm-4">
                           <div id='bloque-carta' class="polaroid">
                               <a class="card-link" href="{{ url_for('bajos.html') }}">
                                   <h4 class="card-title">Bajos</h4>
                               </a>
                               <a href="{{ url_for('bajos.html') }}">
                                   <img class="card-img-bottom" src="https://ucarecdn.com/70e57621-da18-4359-9dc4-67f6b3fc200b/-/resize/400x400/" alt="teleca">
                               </a>

                           </div>
                       </div>
                   </div>
               </div>
               <br>

{% endblock %}